<div class="head-title">
    <div class="left">
        <h1>Energy Monitoring</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Energy Monitoring</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
                <a class="active" href="#">Home</a>
            </li>
        </ul>
    </div>
</div>

<div class="head-main">
    <div class="box-head">
        <h3>Power Information</h3>
        <a href="#" class="btn-download">
            <span class="text">Change Data</span>
        </a>
    </div>
    <div class="box-body">
            <div>
                <i class='bx bxs-bolt'></i>
                <span class="text">
                    <h3 id="card1" class="vabdata">null</h3>
                    <p class="card1">R Voltage</p>
                </span>
            </div>
            <div>
                <i class='bx bxs-bolt'></i>
                <span class="text">
                    <h3 id="card2" class="vbcdata">null</h3>
                    <p class="card2">S Voltage</p>
                </span>
            </div>
            <div>
                <i class='bx bxs-bolt'></i>
                <span class="text">
                    <h3 id="card3" class="vcadata">null</h3>
                    <p class="card3">T Voltage</p>
                </span>
            </div>
    </div>
</div>
<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Graph Analytic</h3>
            <p>Monthly</p>
            <i class='bx bx-chevron-left'></i>
            <i class='bx bx-chevron-right'></i>
        </div>
        <canvas
            id="energy-chart"></canvas>
    </div>
    <div class="todo">
        <div class="head">
            <h3>Energy Usage</h3>
        </div>
            <ul class="todo-list">
                <li class="completed">
                    <p><strong>WBP</strong></p>
                    <p class="wbp">null</p>
                </li>
                <li class="completed">
                    <p><strong>LWBP</strong></p>
                    <p class="lwbp">null</p>
                </li>
                <li class="completed">
                    <p><strong>Cost this month</strong></p>
                    <p class="cost">null</p>
                </li>
                <li class="completed">
                    <p><strong>Total today</strong></p>
                    <p class="total-today">null</p>
                </li>
                <li class="completed">
                    <p><strong>Total this month</strong></p>
                    <p class="total-month">null</p>
                </li>
            </ul>
    </div>
</div>

<script src="plugin/chart.js/chart.umd.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/energy-summary-chart.js"></script>
<script src="js/script.js"></script>
<script src="js/e-mon.js"></script>


<%- contentFor('nav') %>
<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bx-code-alt'></i>
        <span class="text">Plant Monitoring</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a href="/">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/pm">
                <i class='bx bxs-factory'></i>
                <span class="text">Plant Monitoring</span>
            </a>
        </li>
        <li class="active">
            <a href="/pln">
                <i class='bx bx-bolt-circle'></i>
                <span class="text">Energy Monitoring</span>
            </a>
        </li>
        <li>
            <a href="/report">
                <i class='bx bx-bar-chart-square'></i>
                <span class="text">Report</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="user/logout" class="logout">
                <i class='bx bx-log-out' ></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->